.App {
}
.App-content {
    text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
}

.App-WordComponent-Word {
    font-size: 3rem;
}

.App-cursor {
    flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
    font-size: 1.3rem;
    list-style-type: none;
    margin-bottom: 1rem;
}

.iframeDictionary {
    display: none;
}

.wordElement:hover {
    background: #0000000A;
    cursor: pointer;
}

.App-notes {
    width: 35rem;
    margin: 3rem;
}
